
.bg-main {
  background-image: url(./imagens/background-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -55px;
  background-position-x: 0px;
  width: 100%;
  
}
.logo-cadastro {
  width: 250px;
  height: 80px;
  margin-top: 25px;
}

 /* FONTES DO PROJETO */
.baloo {
  font-family: 'Baloo 2', cursive;
}
/* FIM */


/* LABEL E INPUTS */
.labell {
  padding: 15px 2px 2px 2px ;
  font-weight: 700;
  font-size: 17px;
  color: #6c757d;
  margin-bottom: 6px;

}

.inputt-cadastro {
  border-radius: 5px;
  background-color: #DCDCDC;
  max-width: 800px;
  min-width: 260px;
  max-height: 60px;
  min-height: 45px;
}

.input-home:focus {
  box-shadow: 0 0 0 0;
  border: none;
  outline: 0;
}

/* FIM */

/* BUTTONS DO PROJETO */
.btn-cadastro {
  background-color:#ffc709;
  border-color:#ffc709;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  height: 42px;
  font-family:"baloo 2";
}

.btn-voltar {
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  font-family:"baloo 2";
}

.btn-voltar:hover{
  background-color:#6c757d!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  color: white !important;
}

.bttn:hover {
        background-color:#ffc709!important;
        -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important;
        color: white !important;
    }

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}
/* FIM */

.img-cadastro{
  max-width: 350px;
  min-width: 80px;

}