
.bg-main {
  background-image: url(./imagens/background-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -55px;
  background-position-x: 0px;
  width: 100%;
  
}

.cardincomplet {
  background-color: rgba(17, 17, 17, 0.226);
  border-color: rgba(255, 255, 255, 0.089);
}

.cardComplet {
  background-color: #202020;
  border-color: rgba(255, 255, 255, 0.089);
  border-radius: 30px;
}

.baloo {
  font-family: 'Baloo 2', cursive;
}

.form-control:focus {
      border-color:gray!important;
      -webkit-box-shadow: none!important;
      -moz-box-shadow: none!important;
      box-shadow: none!important;
      color: black !important;
      font-weight: 500;
  }

  .inp:hover {
        background-color:#ffc709!important;
        -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important;
        color: black !important;
    }